*{margin: 0;padding: 0;  box-sizing: border-box;}
html{scroll-behavior: smooth;}
body{background-color:#F3F3F3; color: #1a1a1a}

/*barre de navigation*/
a{
	color: #1a1a1a;
	text-decoration: none 
}

.nav-bar li{
	list-style-type: none;
	font-size: 18px;
	display: inline-block;
	margin:0 1.5em;
}
.nav-bar li:hover{border-bottom: 1px solid black;}
header a svg {fill: #1a1a1a;} /*couleur de logo*/
header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 1% 0;
	background-color: rgba(255,255,255,0.95);
	position:sticky;
	top: 0;
	z-index: 1;
	width:100%;
	border-bottom: 2px solid #E0E0E0;
}
/*main-page*/


main, .about{
	height: 100vh;
	width: 100%;
	padding: 10px 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
	border-bottom: 2px solid #E0E0E0;
}
.main-text{
	min-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.main-text h2{
	font-size: 7vmin;
}
.main-text p{font-size: 1.3vmax;}
.main-text p:last-of-type{padding-bottom: 15px }
.pfp{
	width: 70vmax; 
	height: 30vmax;
	border-radius: 100px;
}
.buttons a,#btn-cnt{
	font-size: 2vmin;
	background-color: darkslategray;
	color: whitesmoke;
	border: 1px solid floralwhite;
	border-radius: 15px;
	padding: 10px;
}
main .buttons img{
	height: 22px;
	width: 22px;
	vertical-align: middle;
}
#btn-cnt:hover,.buttons a:hover{
	background-color: #446161;
	transform: scale(1.1);
	transition: transform 0.3s ease
}

/*about section*/

.about h2{ 
	font-size: 7vmin;	
}
.about p{ 
	min-width: 400px;
	font-size: 2.5vmin;
	margin: 20px 0;
}
.about .contenue h3{font-size: 3.5vmin}
.about .contenue ul li {
	list-style-type: none;
	font-size:2.2vmin;
	margin: 10px; 
	fill: darkslategray
}
.about .contenue svg{
	margin-right: 10px; 
	vertical-align:middle; 
}

/*cursus scolaire section*/
.education{
	min-height: 100vh;
	border-bottom: 2px solid #E0E0E0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.education h2{ 
	font-size: 7vmin;	
	text-align: center; 
	padding: 1em 0
}
.cards{
	display: flex;
	min-height: 50vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}
.card{
	width: 30em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 25px ;
	margin: 14px;
	padding: 25px;
	text-align: center; 
	background-color: #f0eded;
}

.card:hover{transform: scale(1.05);transition: transform 0.4s ease}
.card h3{
	font-size: 27px; 
	padding-bottom: 1em; 
}
.card p{ 
	font-size: 22px; 
	margin-top: 10px
}

/*COMPETENCES section*/

.competence{
	min-height: 70vh;
	border-bottom: 2px solid #E0E0E0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4rem;
}
.competence h2{
	font-size: 7vmin;	
	text-align: center; 
}
.competence .skills {
	display: flex; 
	justify-content: center;
	gap: 70px;
	flex-wrap: wrap;
}
.competence .skills i{
	font-size: 10vmin; 
	color: darkslategray
}
.competence .skills i:hover{
	color: #497a7a;
	transform: scale(1.2);
	transition: transform 0.4s ease
}

/*EXPERIENCE section*/
.experience{
	min-height: 100vh;
	border-bottom: 2px solid #E0E0E0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}
.experience h2{
	font-size: 7vmin;	
}
.experience .EXPS{
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}
.experience .Exp{
	width: 350px;
	min-height: 400px;
	text-align: center;
	border: 1px solid lightgray;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}
.experience .Exp img{
	width: 270px;
	height: 200px;
	margin: 10px;
	border-radius: 10px
}
.experience .Exp p{
	margin-top: 5px; 
	padding: 0 10px 5px
}
.experience .Exp:hover{
	transform: scale(1.05);
	box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1); 
	transition: transform 0.2s ease
}

/*LOISIRS section*/
.loisirs{
	min-height: 50vh;
	border-bottom: 2px solid #E0E0E0;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	gap: 4rem;
}
.loisirs h2{
	font-size: 7vmin;	
	text-align: center; 
}
.loisirs .tags{
	display: flex; 
	text-align: center; 
	justify-content: center;
	flex-wrap: wrap;
}
.loisirs .tags span{
	font-size: 3.5vmin;
	color: white;
	background-color: darkslategray;
	font-family: Inter, sans-serif;
	font-weight: 600;
	border: 1px gray solid;
	border-radius: 20px; 
	margin: 30px;
	padding: 0.5em 1.5em
}
.loisirs .tags span:hover{
	background-color: #497a7a;
	transform: scale(1.2);
	transition: transform 0.4s ease
}

/*contact section*/
.contact{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact .txt{text-align: center}
.contact h2{
	font-size: 7vmin;	
	padding: 2em 0 0.5em 
}
.contact p{
	font-size: 20px; 
	padding-bottom: 2em
}
.contact .zone{
	min-height: 400px;
	max-width: 500px;
	display: block;
	border: 1px solid black;
	border-radius: 10px;
}
.contact .zone .groupe{margin: 20px}
.contact .zone .groupe label{font-size: 18px}
.contact .zone .groupe input, .contact .zone .groupe textarea{padding: 7px;border-radius: 10px}
.contact .zone .groupe button{
	font-size: 16px; 
	margin-right: 10px; 
	padding: 4px;
}

/*footer section*/
footer{
	height: 20vh;
	background-color: #363636;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer .foot_icons a i{
	font-size: 26px; 
	color: #BEBEBE; 
	padding: 10px; 
}
footer .foot_icons a i:hover{color: white;}

footer .foot_links ul li{display: inline-block; padding: 15px;}
footer .foot_links ul li a{color: #BEBEBE; font-size: 18px}
footer .foot_links ul li a:hover{color: white} 

footer p{
	color: #BEBEBE;
	padding-top: 15px; 
  	border-top: 1px solid gray;
   	width: 90%;
	text-align:center;
}
